<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scanner230911.mapper.CommonMapper">
    <select id="getList" resultType="HashMap">
        SELECT   BSS_BCNC.BCNC_NM,
        BSS_ITEM.ITEM_NM,
        BSS_ITEM.STNDRD,
        BSN_SHIPMNT_DETAIL.QY AS SHIPMNT_QY
        FROM   BSN_SHIPMNT_DETAIL      WITH(NOLOCK)
        INNER JOIN BSN_SHIPMNT            WITH(NOLOCK)
        ON   BSN_SHIPMNT_DETAIL.BPLC_CODE = BSN_SHIPMNT.BPLC_CODE AND
        BSN_SHIPMNT_DETAIL.SHIPMNT_NO = BSN_SHIPMNT.SHIPMNT_NO
        INNER JOIN BSS_BCNC                     WITH(NOLOCK)
        ON   BSN_SHIPMNT.BPLC_CODE = BSS_BCNC.BPLC_CODE AND
        BSN_SHIPMNT.BCNC_CODE = BSS_BCNC.BCNC_CODE
        INNER JOIN BSS_ITEM
        ON   BSN_SHIPMNT_DETAIL.BPLC_CODE = BSS_ITEM.BPLC_CODE AND
        BSN_SHIPMNT_DETAIL.ITEM_CODE = BSS_ITEM.ITEM_CODE
        WHERE BSN_SHIPMNT_DETAIL.BPLC_CODE = '01' AND
        ISNULL(BSN_SHIPMNT.SHIPMNT_DE,'1900-01-01') = #{date} AND
        BSN_SHIPMNT_DETAIL.STTUS   = 'W'
    </select>

    <update id="updateList">
        UPDATE BSN_SHIPMNT
        SET BSN_SHIPMNT.STTUS = 'T'
        WHERE BSN_SHIPMNT.BPLC_CODE = '01' AND
        ISNULL(BSN_SHIPMNT.SHIPMNT_DE,'1900-01-01') = #{date}
    </update>

</mapper>